* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}





.enbasy .container .row .col a{
	color: black;
	text-decoration: none;
	font-weight: bolder;
	font-size: 12px;
}
.enbasy .container .row .col a:hover{
	color: #ea1538;
    transition: .3s;
}
.enbasy .container .row .col a:hover{
	transform: scale(1.2);
    cursor: pointer;
}








.enbasy{
	width: 100%;
}
body{
	background-color: rgb(242, 242, 242); 
}
nav{
	display: flex;
	flex-direction: column;
	background-color: rgb(242, 242, 242); 
	background-image:url("img/ornament.png");
	background-attachment: fixed;
	background-repeat: repeat-x;
	height: 80px;

}
.birge{
	margin-left: 74px;
}
.enbasy .basy{
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
		 
}
.enbasy .basy >div{
	margin-right: 40px;
}
.enbasy .asty{
	display: flex;

}
.enbasy .asty > div{
	margin-right: 97px; 
}
nav .asty div > a{
	color: black;
	text-decoration: none;
	font-weight: bolder;
	font-size: 12px;
}
nav .asty .basy1 a:hover{
	color: #ea1538;
    transition: .3s;
}
nav .asty .basy1:hover{
	transform: scale(1.2);
    cursor: pointer;
}
.eltanba{
	display: flex;
	flex-direction: row;
	position: absolute;
}
.eltanba .eeki{
	font-size: 40px;
	font-weight: bold;
	color: white;
}
#resmi{
	font-size: 30px;
	font-weight: bold;	
	padding-top: -20px;	
}
.eltanba{
	margin-left: 20%;
	margin-top: -330px;
}
.eltanba .ebir{
	margin-right: 20px;
}
#kz{
	margin-bottom: -10px; 
}

.container .sol{

	width: 100%;
	height: 800px;
	background-color: rgb(242, 242, 242); 
}
.container .sol .bari{
	margin-left: 15px;
	margin-right: 15px;
}
.container .sol .bari .zandar{
	padding-top: 5px;
}
.container .bir{
	margin-bottom: 20px;
}



@media screen and (max-width: 820px){
  .container{
		margin-top: 25%;
	}

	.ffff{
		margin-top: -15%;
	}
}



@media screen and (max-width: 541px){
	 #gerb{
		margin-top: -1.9%;
	}

	#words{
		margin-left: 2%;
		color: black;
		}

		.tekstter{
			display: none;
		}

		#photos{
			margin-top: 10%;
		}

		#klimat{
			margin-top: 80%;
		}
}